<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Adding artikl</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Updating artikl: {{ data.naziv }}</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Deleting artikl: {{ data.naziv }}</h3>

  <form class="mat-dialog-content" #formControl="ngForm">
    <div class="form">
      <mat-form-field>
        <input
          matInput
          placeholder="Naziv"
          name="Naziv"
          [disabled]="flag == 3"
          [(ngModel)]="data.naziv"
          required
        />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input
          matInput
          placeholder="Proizvodjac"
          name="Proizvodjac"
          [disabled]="flag == 3"
          [(ngModel)]="data.proizvodjac"
          required
        />
      </mat-form-field>
    </div>
  </form>

  <div class="mat-dialog-actions">
    <button
      matButton
      *ngIf="flag == 1"
      type="submit"
      mat-dialog-close="1"
      [disabled]="!formControl.valid"
      (click)="add()"
    >
      Save
    </button>
    <button
      matButton
      *ngIf="flag == 2"
      type="submit"
      mat-dialog-close="1"
      [disabled]="!formControl.valid"
      (click)="update()"
    >
      Update
    </button>
    <button matButton *ngIf="flag == 3" mat-dialog-close="1" (click)="delete()">Delete</button>
    <button matButton (click)="cancel()">Cancel</button>
  </div>
</div>
